<div class="container">
  <h2>Registro de Usuario</h2>

  <!-- Mensajes de error o éxito -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <!-- Formulario de alta de usuario -->
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre:</label>
      <input 
        id="nombre" 
        type="text" 
        [(ngModel)]="usuario.nombre" 
        name="nombre" 
        required 
      />
    </div>

    <div>
      <label for="edad">Edad:</label>
      <input 
        id="edad" 
        type="number" 
        [(ngModel)]="usuario.edad" 
        name="edad" 
        required 
        min="0"
      />
    </div>

    <div>
      <label for="email">Email:</label>
      <input 
        id="email" 
        type="email" 
        [(ngModel)]="usuario.email" 
        name="email" 
        required 
      />
    </div>

    <div>
      <label for="contrasena">Contraseña:</label>
      <input 
        id="contrasena" 
        type="password" 
        [(ngModel)]="usuario.contrasena" 
        name="contrasena" 
        required 
      />
    </div>


  <label>
    <input type="checkbox" [(ngModel)]="usuario.persistente" name="persistente" />
    Guardar de forma persistente
  </label>

    <button type="submit">Registrar</button>
  </form>
</div>
