<div class="login-form">
  <h2>Iniciar sesión</h2>
  <form (ngSubmit)="onLogin()">
    <div>
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="credentials.email" name="email" type="email" required />
    </div>
    
    <div>
      <label for="contrasena">Contraseña:</label>
      <input id="contrasena" [(ngModel)]="credentials.contrasena" name="contrasena" type="contrasena" required />
    </div>

    <button type="submit">Iniciar sesión</button>
    
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
